In [1]:
import andes
import os

from andes.interop.pandapower import to_pandapower
from andes.interop.pandapower import make_GSF, build_group_table
import gurobipy as gb
import pandas as pd
import numpy as np
import logging
logger = logging.getLogger(__name__)

from opf import rted3

In [2]:
# get andes case from excel
dir_path = os.path.abspath('..')
case_path = '/VIS_opf/ieee14_base.xlsx'
case = dir_path + case_path
ssa = andes.load(case, no_output=True)

In [3]:
ss = rted3()

Restricted license - for non-production use only - expires 2023-10-25

In [4]:
ss.from_andes(ssa)

In [8]:
ss.get_res()

No RegUp cost data (``cru`` in ``cost``), set to 0.
No RegDn cost data(``crd`` in ``cost``), set to 0.
No RegUp requirement data (``du``), set to 0.
No RegDn requirement data (``dd``), set to 0.

Gurobi Optimizer version 9.5.1 build v9.5.1rc2 (linux64)
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads
Optimize a model with 47 rows, 18 columns and 158 nonzeros
Model fingerprint: 0xcafbcb59
Coefficient statistics:
  Matrix range     [4e-04, 1e+00]
  Objective range  [1e+03, 2e+03]
  Bounds range     [1e-01, 3e+00]
  RHS range        [1e-01, 1e+02]
Presolve removed 45 rows and 13 columns
Presolve time: 0.01s
Presolved: 2 rows, 5 columns, 9 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    2.2370000e+00   4.630000e-01   0.000000e+00      0s
       2    2.2370000e+00   0.000000e+00   0.000000e+00      0s

Solved in 2 iterations and 0.01 seconds (0.00 work units)
Optimal objective  2.237000000e+00

Successfully solve RTED.

       gen     pg  pru  prd   bu   bd
0     PV_2  0.100  0.0  0.0  0.0  0.0
1     PV_3  0.237  0.0  0.0  0.0  0.0
2     PV_4  1.000  0.0  0.0  0.0  0.0
3     PV_5  0.500  0.0  0.0  0.0  0.0
4     PV_6 -0.100  0.0  0.0  0.0  0.0
5  Slack_1  0.500  0.0  0.0  0.0  0.0

In [9]:
ss.load

       idx    u   name  bus     Vn     p0     q0  vmax  vmin  owner
uid
0     PQ_1  1.0   PQ_1    2   69.0  0.217  0.127   1.2   0.8      1
9    PQ_10  1.0  PQ_10   13  138.0  0.135  0.058   1.2   0.8      2
10   PQ_11  1.0  PQ_11   14  138.0  0.200  0.070   1.2   0.8      2
1     PQ_2  1.0   PQ_2    3   69.0  0.500  0.250   1.2   0.8      1
2     PQ_3  1.0   PQ_3    4   69.0  0.478  0.100   1.2   0.8      1
3     PQ_4  1.0   PQ_4    5   69.0  0.076  0.016   1.2   0.8      1
4     PQ_5  1.0   PQ_5    6  138.0  0.150  0.075   1.2   0.8      2
5     PQ_6  1.0   PQ_6    9  138.0  0.295  0.166   1.2   0.8      2
6     PQ_7  1.0   PQ_7   10  138.0  0.090  0.058   1.2   0.8      2
7     PQ_8  1.0   PQ_8   11  138.0  0.035  0.018   1.2   0.8      2
8     PQ_9  1.0   PQ_9   12  138.0  0.061  0.016   1.2   0.8      2

In [10]:
ss.gen

       idx    u     name     Sn     Vn  ... p_pre band type prumax prdmax
0     PV_2  1.0     PV_2  100.0   69.0  ...     0  0.4    1      0      0
1     PV_3  1.0     PV_3  100.0   69.0  ...     0  0.4    1      0      0
2     PV_4  1.0     PV_4  100.0  138.0  ...     0  0.9    1      0      0
3     PV_5  1.0     PV_5  100.0   69.0  ...     0  0.4    1      0      0
4     PV_6  1.0     PV_6  100.0   69.0  ...     0  0.2    1      0      0
5  Slack_1  1.0  Slack_1  100.0   69.0  ...     0  2.5    1      0      0

[6 rows x 19 columns]