In [10]:
import andes
import os

from andes.interop.pandapower import to_pandapower
from andes.interop.pandapower import make_GSF, build_group_table
import gurobipy as gb
import pandas as pd
import numpy as np
import logging
logger = logging.getLogger(__name__)

# import opf class created by jwang
from opf import dcopf

## Test DCOPF model created by Jinning Wang

## Test (main)

In [11]:
import andes
from andes.interop.pandapower import build_group_table

In [12]:
# get andes case from excel
dir_path = os.path.abspath('..')
case_path = '/Test_opf_base_jwang/ieee39_vis_base.xlsx'
case = dir_path + case_path
ssa = andes.load(case, no_output=True)

In [13]:
ss = dcopf()

In [14]:
ss.from_andes(ssa)

In [15]:
linearcost = [
                1,   # PV_1 vsg
                20, 
                20,
                20, 
                20, 
                1,   # PV_6 vsg
                20, 
                1,   # PV_8 vsg
                1,   # PV_9 vsg 
                20   # slack
            ]
quadraticcost = [
                0.001,   # PV_1 vsg
                0.014,
                0.020,
                0.019,
                0.021,
                0.001,   # PV_6 vsg
                0.020,
                0.001,   # PV_8 vsg
                0.001,   # PV_9 vsg
                0.026    # slack
            ]
for i in range(10):
    linearcost[i] /= 12
    quadraticcost[i] /= 12
    
# set up cost
ss.cost['c1'] = linearcost
ss.cost['c2'] = quadraticcost
ss.update_dict()

ss.cost

        idx        c2        c1  c0  cru  crd
0      PV_1  0.000083  0.083333   0    0    0
1      PV_2  0.001167  1.666667   0    0    0
2      PV_3  0.001667  1.666667   0    0    0
3      PV_4  0.001583  1.666667   0    0    0
4      PV_5  0.001750  1.666667   0    0    0
5      PV_6  0.000083  0.083333   0    0    0
6      PV_7  0.001667  1.666667   0    0    0
7      PV_8  0.000083  0.083333   0    0    0
8      PV_9  0.000083  0.083333   0    0    0
9  Slack_10  0.002167  1.666667   0    0    0

In [16]:
ss.get_res()

Warning for adding constraints: zero or small (< 1e-13) coefficients, ignored

Successfully build DCOPF model.

Gurobi Optimizer version 9.5.1 build v9.5.1rc2 (mac64[arm])
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 69 rows, 10 columns and 546 nonzeros
Model fingerprint: 0x7f8e70d9
Model has 10 quadratic objective terms
Coefficient statistics:
  Matrix range     [4e-03, 1e+00]
  Objective range  [8e-02, 2e+00]
  QObjective range [2e-04, 4e-03]
  Bounds range     [1e-01, 1e+01]
  RHS range        [6e+01, 2e+03]
Presolve removed 68 rows and 0 columns
Presolve time: 0.03s
Presolved: 1 rows, 10 columns, 10 nonzeros
Presolved model has 10 quadratic objective terms
Ordering time: 0.00s

Barrier statistics:
 AA' NZ     : 0.000e+00
 Factor NZ  : 1.000e+00
 Factor Ops : 1.000e+00 (less than 1 second per iteration)
 Threads    : 1

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0   3.67901819e+06 -3.51389671e+06  5.38e+03 8.96e+02  1.00e+06     0s
   1   2.21294085e+02 -3.30899461e+03  5.33e+00 8.89e-01  1.16e+03     0s
   2   4.99756775e+01 -2.18305486e+03  5.33e-06 8.89e-07  1.12e+02     0s
   3   4.90929661e+01  2.51181315e+01  1.18e-08 1.96e-09  1.20e+00     0s
   4   4.00084612e+01  3.71113538e+01  1.17e-14 2.00e-14  1.45e-01     0s
   5   3.92241352e+01  3.91063669e+01  5.55e-16 1.94e-16  5.89e-03     0s
   6   3.91822463e+01  3.91751754e+01  0.00e+00 3.71e-15  3.54e-04     0s
   7   3.91799429e+01  3.91795168e+01  0.00e+00 6.51e-15  2.13e-05     0s
   8   3.91796513e+01  3.91796218e+01  1.11e-16 8.02e-15  1.48e-06     0s
   9   3.91796242e+01  3.91796241e+01  1.11e-16 2.57e-14  5.32e-09     0s

Barrier solved model in 9 iterations and 0.06 seconds (0.00 work units)
Optimal objective 3.91796242e+01

Successfully solve DCOPF.

        gen         pg
0      PV_1   8.000000
1      PV_2   4.880739
2      PV_3   3.416518
3      PV_4   3.596334
4      PV_5   3.253826
5      PV_6   8.000000
6      PV_7   3.416518
7      PV_8   7.000000
8      PV_9  14.000000
9  Slack_10   3.000065

In [17]:
3.92*12

47.04