In [1]:
import pandapower as pp
import andes
andes.config_logger(stream_level=20)

import numpy as np
import pandas as pd

In [2]:
ssa = andes.load('/Users/jinningwang/Documents/work/andes/jwang/qz/texas_2000.xlsx',
                 setup=False,
                 no_output=True,
                 default_config=True)
ssa.setup()

Working directory: "/Users/jinningwang/Documents/work/andes/jwang/qz"
Loaded generated Python code in "/Users/jinningwang/.andes/pycode".
Parsing input file "/Users/jinningwang/Documents/work/andes/jwang/qz/texas_2000.xlsx"...
Input file parsed in 1.2434 seconds.
System internal structure set up in 0.1032 seconds.

True

In [3]:
ssa.PFlow.run()

-> System connectivity check results:
  No islanded bus detected.
  A total of 1 island(s) detected.
  Each island has a slack bus correctly defined and enabled.

-> Power flow calculation
   Sparse solver: KLU
 Solution method: NR method
Power flow initialized in 0.0102 seconds.
0: |F(x)| = 35.37873281
1: |F(x)| = 0.2692107004
2: |F(x)| = 0.0002885672672
3: |F(x)| = 9.354650388e-10
Converged in 4 iterations in 0.0628 seconds.

True

In [4]:
ssp_mp = pp.converter.from_mpc('/Users/jinningwang/Documents/work/andes/jwang/qz/case_ACTIVSg2000.mat',
                               f_hz=60,
                               casename_mpc_file='mpc',
                               validate_conversion=False,
                               )

In [9]:
ssp_mp.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,...,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service,pt_percent,oltc,max_loading_percent
0,None,None,3,2,250.0,230.0,115.0,28.976847,1.12500,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
1,None,None,4,5,42.0,115.0,13.8,6.182113,0.25284,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
2,None,None,7,8,120.0,115.0,13.8,11.378308,0.54600,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
3,None,None,9,10,46.0,115.0,22.0,14.935283,0.33166,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
4,None,None,19,20,250.0,115.0,13.8,19.547102,0.81750,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842,None,None,1994,1995,500.0,500.0,230.0,23.768118,0.38500,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
843,None,None,1995,1996,240.0,230.0,115.0,16.030237,0.31200,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
844,None,None,1997,1998,1204.0,500.0,230.0,16.423306,0.15652,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
845,None,None,1998,1999,377.0,230.0,115.0,18.882569,0.30160,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0
846,None,None,1998,1999,377.0,230.0,115.0,18.882569,0.30160,0.0,...,NaN,NaN,NaN,False,1,1.0,True,NaN,False,100.0

In [5]:
ssp_mp.bus

      name  vn_kv type zone  in_service  min_vm_pu  max_vm_pu
0     1000  115.0    b  9.0        True        0.9        1.1
1     1001  115.0    b  9.0        True        0.9        1.1
2     1002  115.0    b  9.0        True        0.9        1.1
3     1003  230.0    b  9.0        True        0.9        1.1
4     1004  115.0    b  9.0        True        0.9        1.1
...    ...    ...  ...  ...         ...        ...        ...
1995  8155  230.0    b  7.0        True        0.9        1.1
1996  8156  115.0    b  7.0        True        0.9        1.1
1997  8157  500.0    b  7.0        True        0.9        1.1
1998  8158  230.0    b  7.0        True        0.9        1.1
1999  8159  115.0    b  7.0        True        0.9        1.1

[2000 rows x 7 columns]

In [6]:
# pp.runpp(ssp_mp)

In [7]:
# pp.rundcopp(ssp_mp)

In [8]:
# pp.runopp(ssp_mp)